:root {
  --dark-blue: #478ba2;
  --light-blue: #b9d4db;
  --dark-orange: #e9765b;
  --light-orange: #f2a490;
  --dark-pink: #de5b6d;
  --green: #18a558;
  --ivory: #f9f7f4;
  --black: #202020;
  --dark-gray: #474747;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 9px "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* HOME PAGE */
.carousel img {
  margin: auto;
  width: 100%;
  height: 300px;
  object-position: 50% 70%;
  object-fit: cover;
}

.circle-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.circle-img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 5px 5px 5px var(--dark-gray);
}

.fa-chevron-circle-right {
  font-size: 50px;
  color: var(--dark-blue);
  margin-top: 1.5em;
  border-radius: 55%;
  box-shadow: 5px 5px 5px var(--dark-gray);
  transition: all 0.2s linear;
}

.fa-chevron-circle-right:hover {
  transform: scale(1.4);
}

hr.gradient-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 4em auto;
}

/* PRODUCTS INDEX PAGE */
.title-link {
  color: var(--black);
  text-decoration: none;
}

.title-link:hover {
  color: var(--dark-gray);
  text-decoration: none;
}

.button-style {
  background-color: var(--dark-blue);
  color: var(--ivory) !important;
}

.button-style:hover {
  background-color: var(--light-blue);
  color: var(--black) !important;
}

.button-style-danger {
  background-color: var(--dark-orange);
  color: var(--ivory) !important;
}

.button-style-danger:hover {
  background-color: var(--light-orange);
  color: var(--black) !important;
}

.price {
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 20px;
  margin: 1px 0px 6px 0px;
}

.card img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

/* SINGLE PRODUCT PAGE */

.product-img {
  border: 1px solid var(--dark-gray);
  border-radius: 7px;
}

.is-not-available {
  background-color: var(--dark-orange);
  width: 8em;
  color: var(--ivory);
  font-weight: bold;
  font-size: 12px;
  padding: 0.3em;
  text-transform: uppercase;
}

.is-available {
  background-color: var(--green);
  width: 8em;
  color: var(--ivory);
  font-weight: bold;
  font-size: 12px;
  padding: 0.3em;
  text-transform: uppercase;
}

/* PAGINATION STYLE */
.pagination .active .page-link {
  color: var(--ivory);
  background-color: var(--dark-blue);
}

.pagination .page-link {
  color: var(--dark-blue);
}

/* SHOPPING CART STYLES */
.img-small {
  height: 9%;
  margin: 2px;
}

.qty-display {
  padding: 3px;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
}

.fa-plus-square {
  color: var(--green);
  font-size: 25px;
  margin: 2px;
}

.fa-minus-square {
  color: var(--dark-orange);
  font-size: 25px;
  margin: 2px;
}

.fa-shopping-cart {
  font-size: 22px;
  padding-top: 0.3em;
}

/* MEDIA QUERY */
/* XS SCREENS */
@media only screen and (max-width: 576px) {
  .card img {
    height: 17em;
  }
}
