:root {
  --dark-blue: #478ba2;
  --light-blue: #b9d4db;
  --dark-orange: #e9765b;
  --light-orange: #f2a490;
  --dark-pink: #de5b6d;
  --green: #18a558;
  --ivory: #f9f7f4;
  --black: #202020;
  --dark-gray: #474747;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 9px "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* PRODUCTS INDEX PAGE */
.card a {
  color: var(--black);
  text-decoration: none;
}

.card a:hover {
  color: var(--dark-gray);
}

.button-style {
  background-color: var(--dark-blue);
  color: var(--ivory) !important;
}

.button-style:hover {
  background-color: var(--light-blue);
  color: var(--black) !important;
}

.button-style-danger {
  background-color: var(--dark-orange);
  color: var(--ivory) !important;
}

.button-style-danger:hover {
  background-color: var(--light-orange);
  color: var(--black) !important;
}

.price {
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 20px;
  margin: 1px 0px 6px 0px;
}

.card img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

/* SINGLE PRODUCT PAGE */

.product-img {
  border: 1px solid var(--dark-gray);
  border-radius: 7px;
}

.is-not-available {
  background-color: var(--dark-orange);
  width: 8em;
  color: var(--ivory);
  font-weight: bold;
  font-size: 12px;
  padding: 0.3em;
  text-transform: uppercase;
}

.is-available {
  background-color: var(--green);
  width: 8em;
  color: var(--ivory);
  font-weight: bold;
  font-size: 12px;
  padding: 0.3em;
  text-transform: uppercase;
}

/* PAGINATION STYLE */
.pagination .active .page-link {
  color: var(--ivory);
  background-color: var(--dark-blue);
}

.pagination .page-link {
  color: var(--dark-blue);
}

/* MEDIA QUERY */
/* XS SCREENS */
@media only screen and (max-width: 576px) {
  .card img {
    height: 17em;
  }
}
