<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nam
        voluptatem adipisci sed amet ipsa quod reiciendis eos. Magnam ad
        sapiente aut a libero aliquam veritatis incidunt molestiae tempora?
      </p>
      <p>
        Maxime! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        autem assumenda vel laudantium quo ipsum omnis earum nostrum, excepturi
        quibusdam, dicta cupiditate voluptatibus aperiam molestiae? Facilis
        ipsum esse eligendi nobis.
      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Our location on map</h3>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
