<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4>Order Processing Duration</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nam
        voluptatem adipisci sed amet ipsa quod reiciendis eos. Magnam ad
        sapiente aut a libero aliquam veritatis incidunt molestiae tempora?
      </p>

      <h4>Order Delivery</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum
        dolor, totam quidem expedita impedit sequi natus molestias quae
        similique officiis? Eos, quas earum! Similique nobis enim unde amet
        suscipit.
      </p>

      <h4>Shipping Rates</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero
        perspiciatis atque corrupti amet dignissimos reprehenderit excepturi aut
        ea distinctio mollitia nulla voluptatum deleniti, ipsum saepe soluta
        omnis debitis! Beatae.
      </p>

      <h4>Returning Products</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, dicta.
        Consequatur praesentium esse aut minus ullam exercitationem nostrum!
        Provident minus dolores asperiores velit. Nulla, repellat magnam. Ab
        corrupti voluptatibus quos.
      </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
